<!DOCTYPE html>
<html>
<head>
    <title>Booking</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <%= booking.email %>
        <form action="/bookings/delete/<%= booking._id %>" method="post">
            <button type="submit">Delete</button>
        </form>
</body>

</html>